// VARIABLES
$blond: #ffffff;
$dark: #2e2e2e;
$textColor: #555559;
$hoverColor: #1f112b;
$buttonColor: #286782;
$hoverColor: #fd8102;
$footBackColor: #efefef;

// MIXINS
@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin flex {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

/* IMPORT OPEN SANS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* GLOBAL STYLES */
body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
#Header {
    position: relative;
    .header-container {
        position: relative;
        z-index: 2;
        .img-row {
            .img-col {
                padding: 0px;
                .image {
                    height: calc(100vw / 6 - 20px);
                }
            }
        }
        .slider-row {
            display: none;
            .slider-col {
                #HeadSlider {
                    margin: 0 auto;
                    height: 50vh;
                    .owl-dots {
                        position: relative;
                        z-index: 30;
                        top: -40px;
                    }
                    .owl-stage-outer {
                        height: 100%;
                        .owl-stage {
                            height: 100%;
                            .owl-item {
                                height: 100%;
                                .item {
                                    height: 100%;
                                    .image {
                                        height: 100%;
                                        .slider-shadow {
                                            height: 100%;
                                            background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.79) 1%, rgba(0,0,0,0) 100%); 
                                            background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.79) 1%,rgba(0,0,0,0) 100%); 
                                            background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.79) 1%,rgba(0,0,0,0) 100%); 
                                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 );
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .menu-row {
            .menu-col {
                padding: 0px;
                .mobile-menu-btn {
                    display: none;
                    text-align: right;
                    a {
                        display: inline-block;
                        padding: 30px 15px;
                        padding-bottom: 0px;
                        text-decoration: none;
                        color: $hoverColor;
                        font-size: 35px;
                    }
                }
                #Navigation {
                    display: none;
                    list-style-type: none;
                    padding: 35px 0px;
                    padding-bottom: 30px;
                    text-align: center;
                    box-shadow: 0 6px 17px -10px $dark;
                    li {
                        display: inline-block;
                        margin-right: 50px;
                        a {
                            text-decoration: none;
                            color: $dark;
                            text-transform: uppercase;
                            font-size: 20px;
                            font-weight: 700;
                            @include transition(0.6s);
                            &:hover {
                                color: $hoverColor;
                            }
                        }
                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
    .shadow {
        position: absolute;
        z-index: 3;
        left: 0px;
        top: 0px;
        width: 100%;
        height: calc(100vw / 6 - 20px);
        background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.79) 1%, rgba(0,0,0,0) 100%); 
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.79) 1%,rgba(0,0,0,0) 100%); 
        background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.79) 1%,rgba(0,0,0,0) 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 ); 
    }
    .socials {
        position: absolute;
        z-index: 99;
        right: 35px;
        top: 25px;
        a {
            text-decoration: none;
            color: $blond;
            font-size: 15px;
            @include transition(0.6s);
            i {
                margin-right: 5px;
            }
            &:hover {
                color: $hoverColor;
            }
        }
    }
}

/* ABOUT SECTION */
#About {
    padding-top: 100px;
    padding-bottom: 150px;
    .about-container {
        .icon-row {
            .icon-col {
                text-align: center;
                img {
                    width: 95%;
                    max-width: 92px;
                    height: auto;
                }
            }
        }
        .description-row {
            .description-col {
                text-align: center;
                h1 {
                    font-size: 55px;
                    font-weight: 300;
                    color: $textColor;
                }
            }
        }
        .button-row {
            margin-top: 60px;
            .button-col {
                text-align: center;
                a {
                    display: inline-block;
                    padding: 10px 30px;
                    text-decoration: none;
                    font-size: 20px;
                    color: $blond;
                    background: $buttonColor;
                    @include border-radius(5px);
                    @include transition(0.6s);
                    &:hover {
                        background: $hoverColor;
                    }
                }
            }
        }
    }
}

/* MENU SECTION */
#Menu {
    .menu-container {
        .menu-item-row {
            .description-col {
                padding: 0px;
                height: 35vw;
                @include flex;
                .content {
                    margin: auto;
                    color: $textColor;
                    width: calc(90% - 35px);
                    max-width: 470px;
                    .title {
                        position: relative;
                        font-size: 24px;
                        font-weight: 700;
                        .line {
                            position: absolute;
                            left: -35px;
                            top: calc(50% - 1px);
                            width: 25px;
                            height: 4px;
                            background: $buttonColor;
                        }
                    }
                    .description {
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
            }
            .img-col {
                padding: 0px;
                .image {
                    height: 35vw;
                }
            }
        }
    }
}

/* FOOTER */
#Footer {
    background: $footBackColor;
    padding: 30px 15px;
    .footer-container {
        .footer-row {
            .left-col {
                .copyright {
                    font-size: 14px;
                    color: $dark;
                }
            }
            .right-col {
                .address {
                    text-align: right;
                    font-size: 14px;
                    color: $dark;
                    span {
                        padding-left: 20px;
                        padding-right: 20px;
                        border-right: 1px solid $dark;
                        &:last-child {
                            border-right: none;
                        }
                    }
                }
            }
        }
    }
}

/* LINK TO JS PART */
#JsPart {
    position: fixed;
    z-index: 100;
    left: -172px;
    top: calc(50% - 28px);
    @include transition(1s);
    i {
        position: absolute;
        z-index: 101;
        color: $blond;
        font-size: 25px;
        top: calc(50% - 14px);
        right: 9px;
        cursor: pointer;
        @include transition(1s);
        &.left {
            opacity: 0;
        }
    }
    a {
        display: block;
        padding: 20px 30px;
        padding-right: 43px;
        text-decoration: none;
        color: $blond;
        font-size: 25px;
        background: $hoverColor;
    }
    &:hover {
        left: 0px;
        i {
            &.right {
                opacity: 0;
            }
            &.left {
                opacity: 1;
            }
        }
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
    
    /* HEADER */
    #Header {
        .header-container {
            .img-row {
                display: none!important;
            }
            .slider-row {
                display: block!important;
                .slider-col {
                    #HeadSlider {
                        height: 35vw!important;
                    }
                }
            }
        }
        .shadow {
            display: none!important;
        }
        .socials {
            right: calc(50% - 44px)!important;
        }
    }
    
    /* ABOUT SECTION */
    #About {
        padding-bottom: 100px!important;
    }
    
    /* MENU SECTION */
    #Menu {
        .menu-container {
            .menu-item-row {
                border-bottom: 3px solid $hoverColor;
                padding-bottom: 50px!important;
                .description-col {
                    display: block!important;
                    height: auto!important;
                    .content {
                        max-width: 100%!important;
                        text-align: center!important;
                        .title {
                            margin-top: 50px!important;
                            .line {
                                display: none!important;
                            }
                        }
                    }
                }
                .img-col {
                    padding-top: 50px!important;
                }
                &:last-child {
                    border: none!important;
                }
            }
        }
    }
}
@media screen and (max-width: 879px) {
    
    /* FOOTER */
    #Footer {
        .footer-row {
            .left-col {
                .copyright {
                    font-size: 12px!important;
                }
            }
            .right-col {
                .address {
                    font-size: 12px!important;
                    span {
                        padding-left: 5px!important;
                        padding-right: 5px!important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    
    /* HEADER */
    #Header {
        .header-container {
            .slider-row {
                .slider-col {
                    #HeadSlider {
                        height: 100vw!important;
                        max-height: 50vh!important;
                    }
                }
            }
            .menu-row{
                .menu-col {
                    .mobile-menu-btn {
                        display: block!important;
                    }
                    #Navigation {
                        padding-top: 0px!important;
                        li {
                            display: block!important;
                            text-align: center!important;
                            margin-right: 0px!important;
                            a {
                                display: inline-block!important;
                                padding: 20px 0px!important;
                            }
                        }
                    }
                }
            }
        }
    }
    
    /* ABOUT SECTION */
    #About {
        padding-top: 50px!important;
        padding-bottom: 50px!important;
    }
    
    /* FOOTER */
    #Footer {
        .footer-row {
            .left-col {
                .copyright {
                    text-align: center!important;
                }
            }
            .right-col {
                .address {
                    text-align: center!important;
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {
    
    /* ABOUT SECTION */
    #About {
        .about-container {
            .description-row {
                .description-col {
                    h1 {
                        font-size: 35px!important;
                    }
                }
            }
            .button-row {
                margin-top: 30px!important;
                .button-col {
                    a {
                        font-size: 16px!important;
                    }
                }
            }
        }
    }
}